@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  @apply overflow-x-hidden scroll-smooth bg-brand-light font-primary;
  &.no-scroll {
    @apply overflow-hidden;
  }
}

.w-container {
  @apply mx-auto max-w-[1400px] ;
}
.y-distance {
  @apply mt-20;
}

.btn {
  &-accent {
    @apply relative flex items-center justify-center overflow-hidden rounded-lg bg-brand-accent px-6 py-3 text-orange-50 brightness-110 transition-all duration-300 ease-in-out;
    &:hover {
      @apply brightness-90;
    }
    &:disabled {
      @apply brightness-75;
    }
  }
  &-primary {
    @apply inline-block border-[1.5px] border-brand-primary rounded-2xl ml-4 bg-brand-primary px-8 py-2 text-white transition-all duration-300 ease-in-out;
    &:hover {
      @apply brightness-110;
    }
  }
  &-exel {
    @apply inline-block border-[1.5px] border-brand-accent rounded-2xl ml-4 bg-brand-accent brightness-110 px-8 py-2 text-white transition-all duration-300 ease-in-out;
    &:hover {
      @apply brightness-100;
    }
  }
  &-paginate {
    @apply rounded-lg py-1 transition-all duration-300 ease-in-out border-b border-brand-line;
    &:active {
      @apply bg-brand-primary;
    }
  }
}

input-wrapper {
  label {
    @apply mb-1 ml-1 block text-sm;
  }
}
.input {
  &-primary {
    @apply w-full rounded-lg border border-brand-line px-4 py-3;
    &:focus {
      @apply border-brand-accent;
      outline: 0 none;
      outline-offset: 0;
      box-shadow: 0 0 0 0.1rem #acd5b2;
    }
  }
}

.table-primary {
  @apply overflow-x-auto rounded-lg border border-brand-line bg-white;

  table {
    @apply w-full;
    thead {
      tr {
        @apply border-b border-brand-line bg-gray-100 text-left text-sm text-gray-600;
        th {
          @apply whitespace-nowrap px-3 py-4 text-base font-bold;
        }
      }
    }
    tbody {
      @apply divide-y divide-brand-line;
      tr {
        @apply transition-all duration-300 ease-in-out;
        &:hover {
          @apply bg-brand-gray;
        }
        td {
          @apply p-3;
        }
      }
    }
  }
}


